name: Build Homebrew Tarball
on:
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 1 * * SUN"
  push:
    branches:
      - main
    paths-ignore:
      - "**/README.md"
  workflow_dispatch:

env:
  IMAGE_NAME: "${{ github.event.repository.name }}"

jobs:
  build:
    name: Build and upload artifact
    permissions:
      contents: read
    timeout-minutes: 60
    strategy:
      fail-fast: true
      matrix:
        platform: ["amd64", "arm64"]
    runs-on: ${{ matrix.platform == 'amd64' && 'ubuntu-24.04' || 'ubuntu-24.04-arm' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build tarball
        run: |
          podman build -t "brew-builder" --target builder -f ./Containerfile .
          podman run --name brew-extract brew-builder true
          podman cp brew-extract:/out/homebrew.tar.zst ./homebrew-${{ matrix.platform }}.tar.zst
          podman rm brew-extract

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.IMAGE_NAME }}-${{ matrix.platform }}
          path: homebrew-${{ matrix.platform }}.tar.zst
          if-no-files-found: error
          retention-days: 90

  release:
    name: Create Release
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name != 'pull_request' && github.ref == 'refs/heads/main'
    permissions:
      contents: write
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./artifacts
          pattern: ${{ env.IMAGE_NAME }}-*
          merge-multiple: true

      - name: Get current date
        id: date
        run: echo "date=$(date +'%Y%m%d')" >> $GITHUB_OUTPUT

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.date.outputs.date }}
          name: Release ${{ steps.date.outputs.date }}
          files: ./artifacts/*.tar.zst
          generate_release_notes: true
          draft: false
          prerelease: false
